.searchBox {
    margin-left: 310px;
    width: 520px;
    margin-top: 200px;
    margin-bottom: 20px;
  }
  
  .label {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .searchField {
    width: 520px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  