.searchBox {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .searchField {
    width: 580px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  