.phonebook-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 70px;
  text-align: center;
  color: #333;
  text-decoration: underline;
}

.b {
  font-weight: bold;
}

