@media screen and (min-width: 768px) {
  .phonebook-container {
    max-width: 768px;
    height: 628px;
  }
}

@media screen and (min-width: 1158px){
.phonebook-container {
  max-width: 1080px;
  height: 1920px;
  margin: 0 auto;
  font-family: Arial, sans-serif;

    background-image: url(../../images/background-pnonebook.jpg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto;  
}

h1 {
  padding-left: 380px;
  font-size: 70px;
  color: #333;
  text-decoration: underline;
}

.b {
  font-weight: bold;
}
}