.form {
    width: 300px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 4px;
    border: 2px solid black;
    justify-content: center;
  }
  
  .field {
    width: 280px;
    font: inherit;
    padding: 5px;
  }

  .btn {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 30px;
    font: inherit;
  }

  .label {
    margin: 0;
    align-self: start;
    font: inherit;
  }
  .error {
    margin-top: 5px;
    display: flex;
    color: red;
    justify-content: flex-start;
  }

  .form-wrapper {
    width: 250px;
  }